*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: inherit;
}
html{
    font-size:62.5%;
    line-height: 1.6rem;
    font-family: Inter, sans-serif;
    background-size: 192em auto;
    color:#fff;

}
p{
    font-size:1.3rem;
    color: #fff;
}
#footer{
    position:fixed;
    bottom: 0;
    background-color: #061d50;
    width: 100%;
    height: 9rem;
    display: flex;
    padding:0 2rem;
    align-items: center;
}
.footer__{
    display: flex;
    align-items: center;
   
}
.footer__.song {
    width: 30%;
    height: 6.4rem;
}
.footer__control {
    width: 40%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.footer__.lyrics {
    width: 30%;
    justify-content: flex-end;
    padding-right: 3rem;
}
.image-current{
    margin-right: 1rem;
}
.image-current img{
    height: 6.4rem;
    border-radius:0.5rem
}
.btn{
    color: #fff;
}
.control{
    display: flex;
    align-items: center;
}
.btn .bi{
    font-size: 2.2rem;
    padding:0.5rem;
    margin:0 0.7rem;
}
p.footer__song-name{
    font-size: 1.4rem;
    font-weight: 500;
}
.footer__song-singer{
    font-size:1.2rem;
    color:#aba398c7;
}
.footer__song-.like{
    margin-left: 1rem;
}
.footer__song-.like .bi{
    padding: 0.9rem 1rem;
    font-size: 1.3rem;
}
.bi-heart-fill{
    color:rgb(62, 74, 243);
}
.control-input-group {
    display: flex;
    align-items: center;
    width: 95%;
}
.span{
    margin: 0 0.5rem;
}
.time-start{
    margin-right:1rem;
    font-size: 1.2rem;
}
.time-end{
    margin-left: 1rem;
    font-size: 1.2rem;
}
#input{
    /* -webkit-appearance: none; */
    width: 100%;
    height: 0.4rem;
    border-radius:2px;
}
.btn .bi-pause-circle{
    display:none;
}
.btn .bi-volume-mute{
    display:none;
}